html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    font-size: .875rem;
}

#app {
    height: 100vh;
    overflow: hidden;
}

.row,
main,
aside,
.tab-content,
.tab-pane,
#chat {
    min-height: 0;
}

.row {
    min-width: 0;
}

#chat {
    overflow: auto;
}

.tab-content,
.tab-pane {
    overflow: hidden;
}